body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.aboutMain {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.aboutCards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  border-bottom: #0f0128 solid;
  margin: 0 0 10px 0;
}
.aboutCard:hover{
  box-shadow: 0 4px 8px 0 #0f0128;
  transition: 0.2s;
}
.aboutCard {
    height: 300px;
    width: 400px;
    margin: 40px;
    border: 2px solid;
    background-color: #39416F;
    border-color: #0f01288e;
    border-radius: 12px;
}

.cardContent {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImagePart{
  display: flex;
  flex-direction: row;
  margin: 30px;
}