.authPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 90px 50px 20px 50px;
}

.cover {
    padding: 80px 50px 50px 50px;
}

.cover h2 {
    font-weight: lighter;
    color: #dddddd;
}

#regLeft{
    width: 50%;
    height: 560px;
    background-image: url("C:/Users/ICSISTEM/Desktop/VoyagesFE/voyagesFE/public/regImg.jpeg");
    background-size: cover;
}

Form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    display: flex;
    flex-direction: row;
}

.name label {
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    border-bottom: #cacaca 1px solid;
    font-weight: lighter;
    font-size: 18px;
}

.name input {
    margin: 0 5px 20px 5px;
    padding: 10px;
    background-color: #060a1a6a ;
    border: none;
    color: #cacaca;
    outline: none;
    text-align: center;
}

.name input:hover{
    box-shadow: 0 2px 6px 0 #060a1a;
    transition: 0.2s;
}

.authInput {
    padding-bottom: 20px;
    width: 375px;
}

.authInput label{
    display: flex;
    flex-direction: column;
    border-bottom: #cacaca 1px solid;
    font-weight: lighter;
    font-size: 18px;
}

.authInput input {
    padding: 10px;
    background-color: #060a1a6a ;
    border: none;
    color: #cacaca;
    outline: none;
    text-align: center;
    width: 355px;
}
.authInput input:hover{
    box-shadow: 0 2px 6px 0 #060a1a;
    transition: 0.2s;
}
::placeholder {
    color: #cacaca;
    opacity: 0.6;
}
.authButton button {
    margin-top: 20px;
    padding: 15px;
    width: 200px;
    background-color: #060a1a6a;
    color: #cacaca;
    border: none;
    outline: none;
    cursor: pointer;
}
.authButton button:hover{
    box-shadow: 0 4px 8px 0 #060a1a;
    transition: 0.2s;
}

#regRight{
    width: 50%;
    height: 560px;
    background: rgb(124,110,110);
    background: radial-gradient(circle, rgba(124,110,110,1) 0%, rgba(96,101,105,0) 45%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 80px;
    border: 2px solid #0f0128;
    border-right: none;
    font-weight: lighter;
    width: 40%;
    height: 560px;
}