.postFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #060a1a4b 1px solid;
    margin: 20px 5%;
    padding: 20px;
    background-color: #333a48cb;
  }
  
  .postFrame:hover {
    background-color: #060a1a4b;
    transition: ease 0.3s;
  }
  
  .postImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .postImg img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .postContent {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px 0;
    position: relative;
  }
  
  .postContent h3 {
    font-size: 2.5vw; /* Adjust font size based on viewport width */
    font-weight: 400;
    border-bottom: 1px solid #060a1a4b;
    text-align: center;
  }
  
  .postContent p {
    padding: 1em 0; /* Adjust padding */
    font-size: 1em; /* Adjust font size */
  }
  
  .desc {
    height: auto; /* Remove fixed height */
  }
  
  .our {
    border-top: #060a1a4b 1px solid;
    padding: 10px 20px 0;
  }
  
  .our h4 {
    font-weight: 300;
  }
  
  .interaction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    height: auto; /* Remove fixed height */
  }
  
  .rating,
  .isPublic, .like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .displayRating,
  .like span {
    position: absolute;
    margin-top: 4em; /* Adjust margin */
  }
  
  .signature p {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0; /* Adjust padding */
    font-size: 1.2em; /* Adjust font size */
  }
  
  @media screen and (max-width: 768px) {
    .postFrame {
      flex-direction: column; /* Change to a column layout on smaller screens */
    }
  
    .postImg,
    .postContent {
      width: 100%; /* Take full width on smaller screens */
    }
  }
  