:root{
  --backg: #3a4350;
  --speed: 0.5s;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1d2433;
}
::-webkit-scrollbar-thumb:hover {
  background: #060a1a;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--backg);
  color: #dddddd;
  font-family: system-ui;
}

* {
  margin: 0;
  padding: 0;
}
/* Navigation.css */
a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-family: system-ui;
  font-weight: 300;
}

/* feed and posts */

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #d4af37;
}
.off {
  color: #ccc;
}
.star {
  font-size: 24px;
}

/* Footer.css */
.footer {
  background: #060a1a;
  background: linear-gradient(0deg, #060a1a 0%, #272b3b 30%, var(--backg) 100%);
  color: white;
  padding: 5px 0 5px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 300px;
}

.btn-flip{
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
  width: 250px;
  height: 80px;
  margin-top: 40px;
  
  &:hover{
    
    &:after{
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
    
    &:before{
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }
  
  &:after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: var(--speed);
    position: absolute;
    background: #777777;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  
  &:before{
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: var(--speed);
    position: relative;
    background: #060a1a6a;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}